[project]
	description = Compiled Ogre3D SDK 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Farid (dahiri-farid)
[access "refs/for/refs/*"]
	read = group user/Farid (dahiri-farid)
	push = group user/Farid (dahiri-farid)
	label-Code-Review = -2..+2 group user/Farid (dahiri-farid)
	label-Verified = -1..+1 group user/Farid (dahiri-farid)
	rebase = group user/Farid (dahiri-farid)
	removeReviewer = group user/Farid (dahiri-farid)
	submit = group user/Farid (dahiri-farid)
[access "refs/heads/*"]
	read = group user/Farid (dahiri-farid)
	create = group user/Farid (dahiri-farid)
	push = +force group user/Farid (dahiri-farid)
	pushMerge = group user/Farid (dahiri-farid)
[access "refs/tags/*"]
	push = +force group user/Farid (dahiri-farid)
	pushTag = group user/Farid (dahiri-farid)
	pushSignedTag = group user/Farid (dahiri-farid)
